<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.google.android.apps.wear.companion" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThesisApp"
        tools:targetApi="31">

        <activity android:name=".presentation.SplashActivity"
            android:theme="@style/Theme.ThesisApp.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.AuthActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.CreateTeamActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.EnrollViaCodeActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.JoinTeamByCodeActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.ManageCoachesActivity" 
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".presentation.MainActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.TrackNoSwimmerActivity" />
        <activity android:name=".presentation.TrackAddSwimmerActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.TrackSwimmerSuccessActivity" />
        <activity android:name=".presentation.TrackSwimmerActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.HistoryListActivity" />
        <activity android:name=".presentation.HistorySessionActivity" />
        <activity android:name=".presentation.SettingsActivity" />
        <activity android:name=".presentation.SettingsProfileActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.SettingsExportActivity" />
        <activity android:name=".presentation.SettingsImportActivity" />
        <activity android:name=".presentation.ImportAssignActivity" />

        <activity android:name=".presentation.ConnectActivity" />
        <activity android:name=".presentation.SwimmersActivity" />
        <activity android:name=".presentation.SwimmerProfileActivity" />
        <activity android:name=".presentation.CoachSwimmerProfileActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.CreateSwimmerProfileActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.RegisterActivity" 
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".presentation.ExerciseLibraryActivity" />
        <activity android:name=".presentation.AddEditExerciseActivity" 
            android:windowSoftInputMode="adjustPan"/>
    </application>



</manifest>